$blue : #48577d;
$blue-gray: #9197a6;
$black-medium: #505050;
$blue-light: #556693;
$black-dark: #43464c;
$white-blue: #d3dcf2;
$white-medium: #ececec;
$white: #fff;


$primary-color-1: $blue;
$primary-color-2: $blue-gray;

$font-color: $black-medium;
$font-color-white: $white-blue;

$link-color: $primary-color-1;

$font-weight-heavy: 900; 
$font-weight-medium: 700;
$font-weight-normal: 400;
$font-weight-light: 300;
